<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wellcome</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="./css/jquery.fileupload.css">
    <link rel="stylesheet" href="./css/jquery.fileupload-ui.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!--Bootstrap table import -->
    <script src="./js/bootstrap-table.js"></script>
    <link rel="stylesheet" href="./js/bootstrap-table.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Map depedencies -->
    <!--<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>-->
    <!--<script type='text/javascript' src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2'></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
</head>
<body>
<div class="container">
    <div id="content">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#home" data-toggle="tab">Wellcome</a></li>
            <li><a href="#analyse" data-toggle="tab">Bebop flies analyse</a></li>
            <li><a href="#board" data-toggle="tab">Stored flies</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="home">
                <h1>Bebop Fly file analyser and visualizer</h1>
                <p>This web server is dedicated to the Bebop flies, you can store and analyse your flies</p>
                <br/>
                <img src="bebop_fly.jpg" width="350px">
            </div>
            <div class="tab-pane" id="analyse">
                <h1>Fly files upload</h1>
                <p><br/>
                    <br/>
                    <br/>
                    <br/><br/>
                    Select <b>one or multiple json files</b> and analyse them alone or globally.<br/>
                </p>
                <!-- The file upload form used as target for the file upload widget -->
                <form id="fileupload" action="./import/" method="POST" enctype="multipart/form-data">
                    <!-- Redirect browsers with JavaScript disabled to the origin page -->
                    <noscript><input type="hidden" name="redirect" value="/static/"></noscript>
                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add file</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Import all</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Clear all</span>
                            </button>
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-lg-5 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                 aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped">
                        <tbody class="files"></tbody>
                    </table>
                </form>
            </div>
            <div class="tab-pane" id="board">


                <h1>Stored flies</h1>
                <script type="application/javascript">
                    $('#button').click(function () {
                        windows.alert("recall refresh")
                        $('#table').bootstrapTable('refresh');
                    });

                    function linkFormatter(value, row) {

                        return '<button type="button" onclick="window.location.href=\'' + value + '\'" class="btn btn-default"><i class="glyphicon glyphicon-file"></i><span></span></button>'
                        //return '<button onclick="window.location.href=\'' + value + '\'">Get the File</button>';
                    }

                    function generateJSFormatter(value, row, index) {
                        var s = row.serialNumber;
                        var f = row.flyDate;
                        return '<button type="button" onclick=\"generateGraphic(\'' + s + '\',\'' + f + '\');\" class="btn btn-default"><i class="glyphicon glyphicon-stats"></i><span></span></button>'
                        //return "<button onclick=\"generateGraphic('" + s + "','" + f + "');\">Draw the fly</button>";

                    }

                    function generateFlyVisualFormatter(value, row, index) {
                        var s = row.serialNumber;
                        var f = row.flyDate;
                        return '<button type="button" onclick=\"generateMap(\'' + s + '\',\'' + f + '\');\" class="btn btn-default"><i class="glyphicon glyphicon-road"></i><span></span></button>'
                        //return  "<button href=\"#\" onclick=\"generateMap('"+s+"','"+f+"');\">Display the fly map</button>";
                    }
                </script>
                <div id="toolbar">
                    <form>
                        <button id="button" class="btn btn-default">refresh</button>
                    </form>
                </div>
                <table data-toggle="table" class="display" data-url="./list" id="table" data-toolbar="#toolbar"
                       data-sort-name="flyDuration" data-sort-order="desc">
                    <tr>
                        <td>Bebop</td>
                    </tr>
                    <thead>
                    <tr>
                        <th data-field="serialNumber" data-sortable="true">Bebop Identifier</th>
                        <th data-field="flyDate" data-sortable="true">Fly date</th>
                        <th data-field="kmzFile" data-formatter="linkFormatter">KMZ file</th>
                        <th data-field="csvFile" data-formatter="linkFormatter">CSV file</th>
                        <th data-field="gpxFile" data-formatter="linkFormatter">GPX file</th>
                        <th data-field="originalFile" data-formatter="linkFormatter">JSON file</th>
                        <th data-field="serialNumber | flyDate" data-formatter="generateJSFormatter">Get Graphic</th>
                        <th data-field="serialNumber | flyDate" data-formatter="generateFlyVisualFormatter">Display
                            fly
                        </th>
                        <th data-field="flyDuration" data-sortable="true">Fly Duration in minutes</th>
                    </tr>
                    </thead>
                </table>


                <style type="text/css">

                    .modal-dialog {
                        width: 100%; /* New width for default modal */
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                    .modal-content {
                        width: 100%;
                        min-height: 100%;
                        border-radius: 0;
                    }

                </style>

                <!-- Modal -->
                <div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel0">Map</h4>
                            </div>
                            <div class="modal-body">
                                <div id="flyMap" style="width: 700px; height: 700px; border: 1px solid #AAA;"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>






                <script type="application/javascript">
                    map = new L.Map('flyMap', { maxZoom:21 });

                    function generateMap(serialNumber, flyDate) {
			var maplink =  new L.TileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {maxZoom: 21, maxNativeZoom: 19, minZoom: 1, detectRetina: true});


                        $.ajax({
                            dataType: "json",
                            url: './displayFly?serialNumber=' + serialNumber + '&flyDate=' + flyDate.replace('+', '%2B'),
                            async: false
                        }).done(function (data){
				var d = [];
                        	for (var i = 0; i < data.length; ++i) {
                	            var p = L.latLng(data[i].lat, data[i].lng);
        	                    d[i] = p;
	                        }
				map.setView(new L.LatLng(data[0].lat,data[0].lng),19);
				map.addLayer(maplink);
                        	var polyline = new L.Polyline(d, {color: 'red', lineJoin: 'round'}).addTo(map);
                        	$('#myModal0').modal('show');

			});


                    }
                </script>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Stats</h4>
                            </div>
                            <div class="modal-body">
                                <div id="flyChart" style="border: 1px solid #AAA;"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>




                <script type="text/javascript">
                    google.charts.load('current', {'packages': ['corechart']});
                    var tag= $('<div id="flyChart"></div>');
                    function generateGraphic(serialNumber, flyDate) {

                        google.charts.setOnLoadCallback(drawChart(serialNumber, flyDate));
                        function drawChart(serialNumber, flyDate) {
                            json = $.ajax({
                                dataType: "json",
                                url: './chart?serialNumber=' + serialNumber + '&flyDate=' + flyDate.replace('+', '%2B'),
                                async: false
                            }).responseJSON;
                            //console.log(json)
                            var data = new google.visualization.DataTable();
                            data.addColumn('number', 'Time in minutes');
                            data.addColumn('number', 'Speed in M/S');
                            data.addColumn('number', 'Altitude in M');
                            data.addColumn('number', 'Battery level in %');
                            data.addRows(json);
                            var width =  1.3 * window.innerHeight;
                            var height = .6 * window.innerWidth;
                            var options = {
                                chart: {
                                    title: 'fly of the ' + flyDate,
                                    curveType: 'function',
                                    legend: {position: 'bottom'}
                                },
                                width: width,
                                height: height,
                                hAxis: {title: 'fly of the ' + flyDate},
                                vAxes: {
                                    0: {
                                        viewWindowMode: 'explicit',
                                        viewWindow: {
                                            min: 0
                                        },
                                        gridlines: {color: 'transparent'},
                                    },
                                    1: {
                                        gridlines: {color: 'transparent'},

                                    },
                                },
                                series: {
                                    0: {targetAxisIndex: 0},
                                    1: {targetAxisIndex: 0},
                                    2: {targetAxisIndex: 1},
                                },
                                colors: ["orange", "blue", "red"]
                            };


                            var chart = new google.visualization.LineChart(document.getElementById('flyChart'));
                            chart.draw(data, options);
                            $("#myModal").modal('show');
                        }
                    }
                </script>


            </div>
        </div>
    </div>

    <!-- tab moving -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Import</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Effacer</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}





    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Erreur</span> {%=file.error%}</div>
            {% } else { %}
                <div><span class="label label-success">Valide</span></div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Effacer</span>
            </button>
        </td>
    </tr>
{% } %}





    </script>
    <script src="js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="js/main.js"></script>

</div> <!-- container -->

</body>
</html>
